@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  max-height: 100%;
}

a {
  cursor: pointer;
  color: #428bca;
  text-decoration: none;
}
a:hover {
  color: #2a6496;
}

li {
	list-style: none;
}

.top {
	float: left;
	background-color: #333;
	height: 60px;
	width: 100%;
}

.top .logo {
	width: 50%;
}

.top .logo #grewpwork-logo {
	margin: 5px 0 0 35px;
	background: url(../img/gw.png);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	float: left;
}

.top .header-title {
	display: inline-block;
	color: #eee;
	font-family: 'Roboto' sans-serif;
	font-size: 2em;
	line-height: 1.8;
	padding-left: 50px;
}

.top .links {
	float: right;
	overflow: auto;
    line-height: 3.5;
    margin-right: 25px;
}

.top .links ul {
	overflow: auto;
}

.top .links li {
	float: left;
	margin-left: 15px;
}

.top .links a {
	color: #eee;
	font-size: 0.9em;
}

.top .links a:hover {
	color: #bbb;
}

.side {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 250px;
	background-color: #ddd;
	box-shadow: 1px 0px 10px black;
}

.side a {
	display: block;
	font-family: 'Roboto' sans-serif;
	padding: 25px 0 25px 15px;
	color: #000;
}

.side .bigboss > a {
	font-size: 1.5em;
}

.side .miniboss a {
	font-size: 0.9em;
}

.side .bigboss {
	border-bottom: 1px solid black;
}

.side .miniboss {
	background-color: #eee;
	display: none;
}

.side .miniboss:hover {
	background-color: #6685A3;
}

.side .show {
	display: block;
}

.side .mini-active {
	background-color: #6685A3;
}

.side .active {
	background-color: #40668C;
	display: block;
	border-bottom: 2px solid #222;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.main {
	height: 100%;
	width: auto;
	padding: 60px 0 0 250px;
}

.main li {
	display: none;
}

.main .active {
	display: block;
}

.main .pane {
	padding: 50px;
}